ROZE_VERIFY_POSTGRES_PORT=15432
ROZE_VERIFY_MYSQL_PORT=13306
ROZE_VERIFY_REDIS_PORT=16379
ROZE_VERIFY_KAFKA_PORT=19092
ROZE_VERIFY_NATS_PORT=14222
ROZE_VERIFY_NATS_MONITOR_PORT=18222
ROZE_VERIFY_MONGO_PORT=27018
ROZE_VERIFY_ELASTICSEARCH_PORT=19200
ROZE_VERIFY_OPENSEARCH_PORT=19201
ROZE_VERIFY_MEILISEARCH_PORT=17700
ROZE_VERIFY_ETCD_PORT=12379
ROZE_VERIFY_CONSUL_PORT=18500

ROZE_VERIFY_POSTGRES_USER=postgres
ROZE_VERIFY_POSTGRES_PASSWORD=postgres
ROZE_VERIFY_POSTGRES_DB=roze

ROZE_VERIFY_MYSQL_ROOT_PASSWORD=root
ROZE_VERIFY_MYSQL_DATABASE=roze

ROZE_VERIFY_MEILI_MASTER_KEY=roze_meili_master_key
